.about-container {
  flex: 1;
  background-color: rgb(24, 24, 24);
  background-size: cover;
  display: block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.detail {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  color: white;
  background-color: rgb(24, 24, 24);
}

.detail-title {
  margin-top: 40vmin;
  margin-left: 20vmin;
}

.detail-body {
  margin: 20vmin;
  margin-top: 0;
  width: 70%;
  text-align: left;
}

.about {
  flex-direction: row;
  align-items: flex-start;
}

.detail-right {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.detail-left {
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detail-profile {
  width: 51vmin;
  height: 51vmin;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  margin: 2vmin;
}

#about-pic {
  width: 51vmin;
  height: 51vmin;
  border: solid 2px grey;
  border-radius: 100%;
}

.detail-skills {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

li {
  margin: 20px;
}
