.project-item {
  font-family: "ABeeZee", sans-serif;
  flex: 1;
  font-size: 2vmin;
  font-weight: 900;
  padding: 2vmin;
  height: 20px;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 1);
  margin: 10px;
  background: rgb(15, 15, 15);
  text-align: center;
  transition: background 0.1s ease-in, color 0.1s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-item:hover {
  background: white;
  color: black;
}

.projects {
  grid-area: projects;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


@media screen and (max-width: 1200px) {
  .projects {
    display: none;
  }
}

