.home {
  height: 100%;
  width: 100%;
  background: rgb(15, 15, 15);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 26fr 2fr;
  grid-template-areas:
    "header header header header"
    "main main main side"
    "footer footer footer footer";
}

.header {
  color: white;
  grid-area: header;
  background: rgb(15, 15, 15);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "menu title resume";
}

.menu {
  grid-area: menu;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu:active {
  background: red;
  color: rgb(24, 24, 24);
}

.title {
  font-family: "ABeeZee", sans-serif;
  font-size: 3vmin;
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  text-shadow: 1px 1px red;
  letter-spacing: 2vmin;
}

.resume {
  grid-area: resume;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-button {
  font-family: "ABeeZee", sans-serif;
  padding: 1vmin;
  padding-left: 3vmin;
  padding-right: 3vmin;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 800;
  transition: background 0.2s ease-in, color 0.2s ease-in;
}

.resume-button:hover {
  color: rgb(24, 24, 24);
  background: rgb(243, 243, 243);
}

.main {
  grid-area: main;
  background: rgb(24, 24, 24);
  display: flex;
  flex-direction: column;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-title {
  font-family: "ABeeZee", sans-serif;
  color: rgb(243, 243, 243);
  flex: 2;
  margin: 5vmin;
  margin-bottom: 0vmin;
  font-size: 4vmin;
  margin-top: 5vmin;
}

.main-body {
  flex: 8;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "photo description"
    "projects projects";
}

.photo {
  grid-area: photo;
  background: url("https://media.licdn.com/dms/image/C4E03AQF7gb_p_bWIDQ/profile-displayphoto-shrink_200_200/0?e=1564617600&v=beta&t=tRe1CacATI8uB_oLs7QF1DBwgXxi0gc3MEs6hGCKTi8")
    center no-repeat;
  background-size: cover;
  width: 30vmin;
  height: 30vmin;
  border-radius: 100%;
  margin-left: 10vmin;
}

.description {
  grid-area: description;
  font-family: "ABeeZee", sans-serif;
  color: white;
  display: flex;
  word-spacing: 0.5vmin;
}

.description p {
  width: 70%;
  margin: 5vmin;
  margin-top: 8vmin;
}

.projects {
  grid-area: projects;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side {
  grid-area: side;
  background: rgb(15, 15, 15);
  display: flex;
  flex-direction: column;
  font-family: "ABeeZee", sans-serif;
  color: rgb(243, 243, 243);
}

.side-title {
  width: 100%;
  flex: 1;
  font-size: 2.5vmin;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7vmin;
  text-decoration: underline;
}

.side-body {
  width: 100%;
  flex: 9;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skill {
  font-size: 2vmin;
  width: 70%;
  margin: 1vmin;
}

.footer {
  grid-area: footer;
  background: rgb(15, 15, 15);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 1vmin;
  font-size: 3vmin;
}

.icon:active {
  color: red;
}



.project-item  {
  flex: 1;
  font-size: 2vmin;
  font-weight: 900;
  padding: 2vmin;
  border-left: solid 1px white;
  background: rgb(15, 15, 15);
  border-radius: 1px;
  text-align: center;
  transition: background 0.1s ease-in, color 0.1s ease-in;
}

.project-item:hover {
  background: white;
  color: black;
}


@media screen and (max-width: 800px) {
  .home {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 26fr 2fr;
    grid-template-areas:
      "header header"
      "main main"
      "side side"
      "footer footer";
  }

  .main {
    border-radius: 0px;
  }

  .photo {
    margin: auto;
  }

  .description p {
    width: 100%;
    margin: 5vmin;
    margin-top: 8vmin;
  }

  .projects {
    display: none;
  }

  .main-body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "photo"
      "description";
  }
}
