.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "title resume";
  margin: 10px;
}

.title {
  grid-area: title;
  font-family: "ABeeZee", sans-serif;
  font-size: 30px;
  display: flex;
  padding-left: 10px;
  margin: 5px;
  align-items: flex-end;
  font-weight: 800;
  letter-spacing: 2px;
}

.resume {
  grid-area: resume;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: "ABeeZee", sans-serif;
  font-size: 18px;
  border: solid 1px black;
  border-radius: 5px;
  margin-right: 10px;
}

.resume:hover {
  background: black;
  color: white;
}

@media screen and (max-width: 896px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "title" "resume";
  }
}
