.nav-container.h {
  height: 5vmin;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-container.v {
  height: 100vh;
  width: 13vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  margin: 0.2vmin;
  flex: 1;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12;
  text-align: center;
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.5s ease;
  transition: transform 0.2s ease;
  transition: box-shadow 0.1s ease;
  transition: background 0.5s ease;
  border: solid 1px #fff;
}

.nav-item:hover {
  color: black;
  background: white;
}

.nav-item:active {
  box-shadow: 0 1px #fff;
  transform: translateY(2px);
}
